html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  .calculator {
    border: 1px solid rgb(133, 123, 123);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #252525;
  color: white;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

.operator {
  color: #337cac;
}

button {
  height: 60px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
}

button:hover {
  background-color: #eaeaea;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}
