html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .95)),
    url("https://t3.ftcdn.net/jpg/02/58/94/74/240_F_258947425_FdwXFXX5zxm5hqOi3vtZgpYJ7vbqqGHw.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
}

.calculator {
  border: 3px outset rgb(104, 102, 102);
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 359px;
  max-width: fit-content;
  box-shadow: rgba(255, 255, 255, 0.14) 0px 7px 29px 0px;
  background-color: black;
}

.calculator-screen {
  width: 100%;
  height: 120px;
  border: none;
  border-radius: 50px;
  background-color: black;
  color: white;
  text-align: right;
  padding-right: 37px;
  padding-left: 30px;
  padding-top: 65px;
  font-size: 6rem;
  font-weight: 100;
}

.calculator-keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /*or repeat(4, 1fr); */
  /*grid-gap: grid-row-gap grid-column-gap; */
  grid-gap: 20px 15px;
  padding: 20px;
}

button {
  height: 70px;
  background-color: rgb(59, 55, 55);
  border-radius: 50%;
  border: none;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}

button:hover { background-color: rgb(100, 100, 100); }

button:active { background-color: rgb(59, 55, 55); }

.operator {
  color: white;
  background-color: orange;
  font-size: 3rem;
}

.operator:hover { background-color: rgb(207, 135, 0); }

.operator:active { background-color: orange; }

.top-row-button {
  background-color: rgb(117, 116, 115);
  color: black;
  font-size: 2rem;
}

.top-row-button:hover { background-color: rgb(85, 85, 85); }

.top-row-button:active { background-color: rgb(117, 116, 115); }

.zero-button {
  grid-area: 5 / 1 / 6 / 3;
  border-radius: 50px;
  text-align: left;
  padding-left: 28px;
}
